.black-container {
    background-color: #17927d;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }

/* Estilos base del botón */
.animated-button {
    background-color: #17927d;
    color: #d3f8f2;
    padding: 10px 20px;
    border: none;
    /*border-radius: 5px;*/
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 20px;
    width: 100%;
}
.darker-button {
    background-color: rgba(33, 131, 114, 0.8);
}

.darker-button2 {
    background-color: rgba(17, 75, 65, 0.8);
}

.animated-button:hover {
    background-color: #002d24; /* Cambia el color de fondo más oscuro cuando el cursor está sobre el botón */
}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    margin-top: 50px;
}

.flexbox-container > div {
	width: 50%;
	padding: 30;
    margin: 30px;
    /*background: #0e312c;*/
    border-radius: 10px;
}

.flexbox-container > div:first-child {
	margin-right: 30px;
}

.comentario {
    font-size: 18px;
    opacity: 0.5;
}

.image-size {
    width: 600px;
    border-radius: 10px;
    height: auto;
    background-clip: padding-box; 
    border: 1px solid transparent; 
}

.down {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.box {
    background: #0e312c;
    border-radius: 10px;
    margin-top: 30px;
}
.box > button:last-child{
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}
