body {
    margin: 0;
    padding: 0;
    color: #d3f8f2;
}

.centro{
    display: flex;
    flex-basis: 0;
    align-items: center;
}

.text-left {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.text-left a {
    margin-left: 20px;
    text-decoration: none;
    color: #d3f8f2;
}

.text-right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.text-right a {
    margin-right: 20px;
    text-decoration: none;
    color: #d3f8f2;
}

nav {
    background-color: #051f1b;
    height: 80px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 200000;
}

.navbar-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.navbar-logo {
    display: flex;
}

.navbar-logo img {
    width: 150px;
    height: auto;
}
